body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

h1,
h6 {
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
}

.shake {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
  }
  .element {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: red;
  }
  @keyframes shake-animation {
   0% { transform:translate(0,0) }
  1.78571% { transform:translate(5px,0) }
  3.57143% { transform:translate(0,0) }
  5.35714% { transform:translate(5px,0) }
  7.14286% { transform:translate(0,0) }
  8.92857% { transform:translate(5px,0) }
  10.71429% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
  }

  .backdrop {
    -moz-box-shadow: 0px 6px 5px #111; 
    -webkit-box-shadow: 0px 6px 5px #111; 
    box-shadow: 0px 2px 10px #111; 
    -moz-border-radius:190px; 
    -webkit-border-radius:190px; 
    border-radius:190px;
  }

  .linktree {
    width: 120px;
    height: 120px;
    background-image: url("https://www.raulhc.cc/pub/Doc/LogoTipo/raul-hacker-club.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }



div.text-center>div {
  padding-bottom: 30px;
}
.btn-raul > span {
    display: block;
}
.btn-raul > span:last-child {
    font-size: 0.8em;
}
.btn-raul {
  width: 80%;
  padding-top:10px;
  padding-bottom:10px;
  font-weight: 600;
}
.btn-logo-raul {
  background-color: transparent;
}


/* novo */

.list-group-item-action, .list-group-item-action {
  background-color: #ffffff77 !important;
  transition: 0.2s linear background-color;
}
.list-group-item-action:focus, .list-group-item-action:hover {
  background-color: #0d6efd44 !important;
  color: #fff !important;
  transition: 0.2s linear background-color;
}
.list-group-item-action:hover .text-muted, .list-group-item-action:focus .text-muted {
  color: #fff !important;
}

.opcoes-doacao {
  margin-bottom: 1em;
  max-width: 500px !important;
}

.novo-logo-raul, .novo-logo-raul:focus, .novo-logo-raul:hover {
  text-decoration: none;
}
.novo-logo-raul>div {
  padding: 30px 0;
}
.novo-logo-raul>div>h2 {
  color: #fff;
  /*padding-top: 20px;*/
  margin: 0;
}
.novo-logo-raul img {
  width: 120px;
  height: 120px;
  border-radius:100%;
  box-shadow: 0px 0px 20px #fff3;
}
.novo-logo-raul small {
  color: white;
  text-decoration: dashed underline;

}

.links-sociais {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}
.links-sociais a>svg {
  width: 1.5em;
  fill: #fff7;
  transition: 0.2s linear fill;
}
.links-sociais a > svg:hover {
    fill: #fff;
}
.links-sociais a:hover {
}

#whoweare {
  margin-bottom: 2em;
}
#whoweare .card-body {
  background-color: #ffffff77;
  color: rgb(73, 80, 87);
}
#whoweare .card-body h2 {
  font-size: 1.4em;
}
#whoweare .card-body small {
  padding-left: 0.5em;
  font-size: 0.7em;
}
#whoweare .card-body a {
  color: #000 !important;
  text-decoration: dashed underline;
}
#we-the-dev a{
  color: #34312f70;
}